<%- include('./partials/header') -%>
    <div>

        <h1>
            <%=storetitle%>
        </h1>
        <div class="readmore">
            <p>
                <%=storebody%>
            </p>
        </div>

    </div>



    <%- include('./partials/footer') -%>